:root {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: verdana, Helvetica, Arial, sans-serif;
    font-size: 10px;
}

#movelist {
    height: 400px;
    width: 400px;
    overflow-y: auto;
}

.movelist-item {
    cursor: pointer;
    padding: 1px;
}

.movelist-selected {
    background-color: red;
}


/* Chess board */
svg.board .square.dark {
    fill: #d18b47;
}

svg.board .square.light {
    fill: #ffce9e;
}

svg.board .square.dark.lastmove {
    fill: #aaa23b;
}

svg.board .square.light.lastmove {
    fill: #cdd16a;
}