:root {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: verdana, Helvetica, Arial, sans-serif;
    font-size: 10px;
}

.main-pane {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

/* Move list */

#movelist {
    height: 400px;
    width: 400px;
    overflow-y: auto;
}

.movelist-item {
    cursor: pointer;
    padding: 0;
}

.movelist-item td {
    padding: 0;
}

.movelist-selected {
    background-color: red;
}


/* Chess board */
svg.board .square.dark {
    fill: #d18b47;
}

svg.board .square.light {
    fill: #ffce9e;
}

svg.board .square.dark.lastmove {
    fill: #aaa23b;
}

svg.board .square.light.lastmove {
    fill: #cdd16a;
}

/* WDL bar */

svg.wdl-bar .wdl-outer {
    stroke: black;
    fill: transparent;
}

svg.wdl-bar .wdl-white {
    fill: #f0f0f0;
}

svg.wdl-bar .wdl-draw {
    fill: #808080;
}

svg.wdl-bar .wdl-black {
    fill: #202020;
}

/* Nodes bar */

svg.nodes-bar .nodes-outer {
    stroke: black;
    fill: transparent;
}

svg.nodes-bar .nodes-inner {
    fill: #8552fa;
}