:root {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: verdana, Helvetica, Arial, sans-serif;
    font-size: 10px;
    background-color: #eee;
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
}


td svg {
    vertical-align: top;
}

/* Header */

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin-bottom: 10px;
}


#logo {
    display: inline-block;
    width: 70px;
    margin-right: 40px;
}

#logo img {
    width: 100%;
    height: auto;
}

#game-selection {
    margin-right: auto;
}

.main-pane {
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: left;
}

/* Move list */

#movelist {
    height: 400px;
    width: 400px;
    margin: 10px;
    overflow-y: auto;
}

.movelist-item {
    cursor: pointer;
    padding: 0;
}

.movelist-item td {
    padding: 0;
}

.movelist-selected {
    background-color: rgb(208, 228, 245);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}


/* Chess board */
svg.board .square.dark {
    fill: #d18b47;
}

svg.board .square.light {
    fill: #ffce9e;
}

svg.board .square.dark.lastmove {
    fill: #aaa23b;
}

svg.board .square.light.lastmove {
    fill: #cdd16a;
}

/* WDL bar */

svg.wdl-bar .wdl-outer {
    stroke: rgba(64, 64, 64, 0.3);
    fill: transparent;
}

svg.wdl-bar .wdl-white {
    fill: #fff;
}

svg.wdl-bar .wdl-draw {
    fill: #808080;
}

svg.wdl-bar .wdl-black {
    fill: #202020;
}

/* Nodes bar */

svg.nodes-bar .nodes-outer {
    stroke: black;
    fill: transparent;
}

svg.nodes-bar .nodes-inner {
    fill: #8552fa;
}