:root {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: verdana, Helvetica, Arial, sans-serif;
    font-size: 10px;
}

.movelist-item {
    cursor: pointer;
    padding: 1px;
}

.movelist-selected {
    background-color: red;
}